
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.navbar{
    padding-left: 2rem;
    /* padding-right: 11rem; */
}


.color-nav{
    background-color: burlywood
}


.navbar-light .navbar-brand {
    color: rgb(55, 53, 61) !important;
    font-weight: 600;
}

.navbar-expand-md .navbar-collapse {
   justify-content: flex-end;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(37 36 36 / 90%);
    border-bottom: 1px solid;
}

